<!DOCTYPE html>
<html>
	<head>
		<title>Exams</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../css/styles.css" th:href="@{/css/styles.css}" />
	</head>
    <body>
	    	<div id="content" th:unless="${#lists.isEmpty(allExams)}">
	    		<h1 th:text="#{title.list}">List of Exams</h1>
	    		<table>
	    			<thead>
		    			<tr>
		    				<th th:text="#{exam.date}">Date</th>
		    				<th th:text="#{exam.title}">Title</th>
		    				<th th:text="#{exam.scores}">Scores</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr th:each="exam : ${allExams}">
		    				<td th:text="${{exam.examDate}}">17/11/2016</td>
		    				<td th:text="${{exam.examTitle}}">Title</td>
		    				<td>
		    					<table>
		    						<tbody>
		    							<tr th:each="scores,scoreStat : ${exam.scores}">
		    								<td th:text="${scoreStat.count}">1</td>
		    								<td th:text="${scores.firstName}">Daniel</td>
		    								<td th:text="${scores.lastName}">Liu</td>
		    								<td th:text="${scores.score}">100</td>
		    							</tr>
		    						</tbody>
		    					</table>
		    				</td>
		    			</tr>
		    		</tbody>
	    		</table>
	    	</div>
	    	
	    	<div id="content">
	    		<h2 th:text="#{title.new}">Add new Exam</h2>
	    		<form action="#" th:action="@{/exam}" th:object="${exam}" method="post">
	    		<fieldset>
	    			<legend th:text="#{exam.details}">Exam Details</legend>
	    			<ul class="errorList" th:if="${#fields.hasErrors('*')}">
	    				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
	    			</ul>
	    			
	    			<div>
	    				<p>Note: All fields are required.</p>
	    				<label for="examTitle">
	    					<span th:text="#{exam.title}">Title</span>
	    				</label>
	    				<input id="examTitle" type="text" th:field="*{examTitle}" th:value="*{examTitle}" th:errorclass="fieldError" required="" />
	    				<br />
	    				<label for="examDate">
	    					<span th:text="#{exam.date}">Date</span>
	    				</label>
	    				<input id="examDate" type="date" th:field="*{examDate}" th:value="*{examDate}" th:errorclass="fieldError" required="" />
	    			</div>
	    			
	    			<div>
	    				<h2 th:text="#{exam.scores}">Scores</h2>
			        <table>
			          	<thead>
			            		<tr>
			            			<th></th>
			            			<th th:text="#{exam.scores.head.firstName}">First Name</th>
			              		<th th:text="#{exam.scores.head.lastName}">Last Name</th>
			              		<th th:text="#{exam.scores.head.score}">Score</th>
			              		<th>
			                			<button type="submit" name="addRow" th:text="#{exam.score.add}">Add score</button>
			              		</th>
			            		</tr>
			          	</thead>
			          	<tbody>
			            		<tr th:each="score,scoreStat : *{scores}">
			              		<td th:text="${scoreStat.count}">1</td>
			              		<td>
			                			<input type="text" th:field="*{scores[__${scoreStat.index}__].firstName}" th:errorclass="fieldError" required="" />
			              		</td>
			              		<td>
			                			<input type="text" th:field="*{scores[__${scoreStat.index}__].lastName}" th:errorclass="fieldError" required="" />
			          			</td>
			              		<td>
			                			<input type="number" th:field="*{scores[__${scoreStat.index}__].score}" th:errorclass="fieldError" required="" />
			              		</td>
			              		<td>
			                			<button type="submit" name="removeScore" th:value="${scoreStat.index}" th:text="#{exam.score.remove}">Remove score</button>
			              		</td>
			            		</tr>
			          	</tbody>
			        	</table>
				</div>
	    
		        <div class="submit">
		            <button id="addExamButton" type="submit" name="save" th:text="#{exam.create}">Add Exam</button>    
		        </div>
	        
	        </fieldset>
	        </form>
	    	</div>
    </body>
</html>